.banner {
    display: flex;
    color: black;
    justify-content: center;
}

.bannerImage {
    width: 8rem;
}

.fullDescription {
    display: grid;
    grid-template-rows: 0fr;
    width: 100%;
    background-color: #e1e6e5;
    padding-left: 1rem;

}
.session,.deposit{
    margin-top: 0%;
    margin-bottom: 0%;
}