

.user-pass-container {
  /* display:flex; */
  /* padding-top: 300px; */
   /* add padding to move it down   */
}


/* .buttons{
  text-align: center;
  margin-top: -4.3rem;
}  */


.buttons {
  display: flex;
  justify-content: left;

  gap: 10px;
}




