@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');


/* Style the title */
.title {
  font-size: 3em;
  text-align: center;
  font-family: 'Oleo Script', 'Jost', sans-serif, Arial;
  font-weight: lighter;
  color: #ffffff;
}

.title-2 {
  color: rgb(255, 255, 255);
  margin-top:-5px;
  font-size: 1.3rem;
  letter-spacing: -0.02em;
  text-align: center;
  font-family: 'Inter', 'Jost', 'Anuphan', 'Cambria', 'Roboto', sans-serif;
  font-weight: 200;

}
  /* Style the container for the artists */
  .artists-container {
    display: grid;
    justify-items: center;
    row-gap: 20px;
  }
  
  /* Style the container for each artist */
  .lacy-container, .diana-container, .g-container, .gabriel-container, .luis-container {
    position: relative;
    display: inline-block;
    align-items: center; 
    background-color: #0000007a;
    padding: 0.3em;
  }
  
  /* Style the image for each artist */
  .artists-container img {
    width: 200px;
    height: 200px;
    padding: 6px;
    object-fit: cover;
  }

   /* Style the text to appear on hover */
   .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; /* Hide by default */
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
  }

   /*Show the text when hovering over the container*/
  .lacy-container:hover .img-overlay, .diana-container:hover .img-overlay,
   .g-container:hover .img-overlay, .gabriel-container:hover .img-overlay, 
   .luis-container:hover .img-overlay {
    display: flex;
  }

 /*
  Hover for images with links  
  a:hover {
    opacity: 0.8;
  }
  
  hover effect on img tag inside Link/anchor tag component 
  a:hover img {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
  }

  a:not(:hover) img {
    opacity: 1;
    transition: transform 0.2s ease-in-out;
  }
  */

 /* Style the login button */
  .lounge-button {
    font-size: 1em;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: #ffffff00;
    color: rgba(59, 49, 49, 0.795);
    
  }
  .login{
    background-color: #000;
    display: flex;
    justify-content: right;
    margin-top: -10px;
  }