/* testing some google fonts, can change fonts later if desired */
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@200;400&family=Fjalla+One&family=IBM+Plex+Sans&family=Jost:wght@300&family=Mulish:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@300&display=swap');
  body{
    margin: 0;
  }
 
  .navbar {
    justify-content: space-between;
    padding: 0.3em;
    font-family: 'Jost', 'Cambria', 'Roboto', sans-serif;
    min-width: 768px;
    border-bottom: #fffefe9a solid 1px;
    background: rgba(37, 37, 37, 0.986);
  }f
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 7%;
  }
  nav a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 0.10em;
    text-transform: uppercase;
    
  }

  nav a:hover{
    color: #ffffff;
    text-shadow: 1px 2px 2px #ffffff5d;
    transform: scale(1.03);
 
  }
    /* Media query for responsive design */
  @media (max-width: 425px) {
    nav ul {
      flex-wrap: wrap;
      text-align:center;
      
    }
    nav li {
      padding: 0.6em;
    }
    nav a {
      font-size: 1.3em;
      letter-spacing: 0.20em;
    }
    .navbar {
      padding: 0.1em;
    }

  }