/* testing some google fonts, can change fonts later if desired */
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@200;400&family=Fjalla+One&family=IBM+Plex+Sans&family=Jost:wght@300&family=Mulish:wght@200&display=swap');

  body{
    margin: 0;
  }
 
  .navbar {
    background-color: #501e1ede;
    justify-content: space-between;
    padding: 1em;
    font-family: 'Jost', sans-serif;
    border-bottom: 4px solid #bba3a38f;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 25px;
    gap: 4%;
  }
  a {
    display: block;
    color: #ffc7c7ea;
    text-decoration: none;
    font-size: 1.1em;
    letter-spacing: 0.02em;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
  }

  a:hover{
    color: #ffffff;
    text-shadow: 1px 2px 2px rgb(255, 0, 0);
    transform: scale(1.1);
  }

  
    
  /* Media query for responsive design */
  @media (max-width: 660px) {
  ul {
    flex-wrap: wrap;
    text-align:center;
    margin-right: 25px;
  }
  li {
    width: 100%;
  }
  a {
    font-size: 1em;
    letter-spacing: 0.20em;
  }
  .navbar {
    padding: 0.1em;
  }
}
   
  