/* testing some google fonts, can change fonts later if desired */
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@200;400&family=Fjalla+One&family=IBM+Plex+Sans&family=Jost:wght@300&family=Mulish:wght@200&display=swap');

  body{
    margin: 0;
  }
 
  .navbar {
    background-color: #4b232375;
    justify-content: space-between;
    padding: 1em;
    font-family: 'Jost', sans-serif;
    border-bottom: 3px solid #ada9a970;
  }

  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 25px;
    gap: 7%;
  }
  nav a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1em;
    letter-spacing: 0.02em;
    font-weight: 300;
    text-transform: uppercase;
  }

  nav a:hover{
    color: #ffffff;
    text-shadow: 1px 2px 2px #ffd6d6;
    transform: scale(1.03);
  }
  

  /* Media query for responsive design */
  @media (max-width: 660px) {
  nav ul {
    flex-wrap: wrap;
    text-align:center;
    margin-right: 25px;
  }
  nav li {
    width: 100%;
  }
  nav a {
    font-size: 1em;
    letter-spacing: 0.20em;
  }
  .navbar {
    padding: 0.1em;
  }
}
   
  