@import url('https://fonts.googleapis.com/css2?family=Asap:wght@200;400&family=Fjalla+One&family=IBM+Plex+Sans&family=Jost:wght@300&family=Mulish:wght@200&display=swap');

body{
    font-family: 'Jost', sans-serif;
}
.top-container{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 7em;
    padding: 4%;
}
.top-container > img{
    min-width: 500px;
    max-width: 50%;
    height: auto;
    -webkit-box-shadow: 10px 12px 11px -2px rgba(0, 0, 0, 0.281);
    -moz-box-shadow: 10px 12px 11px -2px rgba(0, 0, 0, 0.267);
    box-shadow: 10px 12px 11px -2px rgba(0, 0, 0, 0.192);
    filter: brightness(0.9);
}
.text-box{
    background-color: #92614f83;
    padding: 2.5em 0em 2.5em 2em;
    -webkit-box-shadow: 10px 12px 11px -2px rgba(0,0,0,0.46);
    -moz-box-shadow: 10px 12px 11px -2px rgba(0,0,0,0.46);
    box-shadow: 10px 12px 11px -2px rgba(0,0,0,0.46);
}
.text-box > .text-content{
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    letter-spacing: -0.04em;
    width: 75%;
    min-width: 200px;
}
.hours-container{
    background-color: rgba(31, 24, 16, 0.301);
    margin: 0 auto;    
}
.hours-info{
    font-size: 1.6rem;
    color: rgb(221, 221, 221);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.hours-info li{
    list-style: none;
    text-align: left;
    margin-bottom: 3px;
}
.hours-info ul{
    margin-top: -25px;
    margin-left: 35px;
}

li:nth-child(3) {
    padding-left: 3px;
  }

@media (max-width: 840px) {
    .top-container{
        gap: 7%;
        margin-top: 30px;
        margin-left: 65px;
        flex-wrap: wrap;
        text-align:center;
    }
    .top-container > img{
        max-height: 350px;
        -webkit-box-shadow: 10px 12px 11px -2px rgba(0, 0, 0, 0.281);
        -moz-box-shadow: 10px 12px 11px -2px rgba(0, 0, 0, 0.267);
        box-shadow: 10px 12px 11px -2px rgba(0, 0, 0, 0.192);
    }
    .hours-container{
        margin-left: 35px;
        margin-top: 0px;
    }
    .text-box{
        margin-top: 25px;
        background-color: rgba(0, 0, 0, 0.637);
        
    }
    .text-content{
        margin: 0 auto;
    }

}