
.landing {
  width: 75%;
  margin: 0 auto;
  border-radius: 15px;
}

.file {
  width: 300px;
  background-color: #6d2d2d;
  color: #ffffff;
  letter-spacing: 0.02rem;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

table {
  margin-bottom: 1%;
  width: 100%;
  padding: 10px;
  background-color: rgba(43, 31, 31, 0.486);
  align-items: center;

}

th {
  border: 1px solid;
  text-align: left;
  padding: 8px;
  background-color: transparent;
  color: white;
}

td {
  border: 1px solid;
  text-align: left;
  background-color: transparent;
  color: white;
}

/*
.submit-button {
  margin-top:  1px;
}
*/

.bottom-container-dash{
  width: 75%;
  margin: 0 auto;
  border-radius: 15px;
}
  
.btn-group2{
  display: flex;
  justify-content: left;
}
.btn-group3{
  display: flex;
  justify-content: left;
}

.btn-group{
margin-bottom: 5%;
}


/* Style for the individual buttons */
.inquire-btn {
  background-color: rgba(0, 0, 0, 0.493);
    border: 1.5px solid #000000;
    color: #ffffff;
    text-decoration: underline; 
    cursor: pointer;
    float: left;
    padding: 10px 16px;
    font-size: 18px;
}
.admin-page-title{
  font-family: 'Oleo Script', 'Jost', sans-serif, Arial;
  font-weight: lighter;
}

.active, .inquire-btn:hover {
  background-color: rgb(129, 129, 129);
  color: white;
  border: 1.5px solid #000000;
  cursor: pointer;
}

.inquire-btn:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.logout-btn{
  background-color: black;
  color: white;
  padding: 0.3em 1.5em;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid white;
  width: 10em;
  margin-top: 3px;
}
.btn-group3 .logout-btn:nth-child(2) {
  margin-left: 3px;
}
.logout-btn:hover{
  background-color: rgb(129, 129, 129);
}
.grid-container {
  max-width: 1320px; /* Set the maximum width you desire */
  margin: 0 auto; /* Center the container horizontally on the page */
}
.portfolioEdit-btn{
  background-color: rgb(1, 59, 25);
  color: white;
  padding: 0.3em 1.5em;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid white;
  width: 10em;
}
.btn-group2 .portfolioEdit-btn:nth-child(2) {
  margin-left: 3px;
}
.portfolioEdit-btn:hover{
  background-color: rgb(45, 194, 70);
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.welcome-message{
  color: white;
  padding: 10px 20px;        
  font-size: 1.1rem;
  margin-left: 75%;
  animation: fadeOut 5s;
}

.portfolioGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  margin-top: 20px;
}

.portfolioImage img {
  width: 120px;  /* or whatever width you want */
  height: 120px; /* or whatever height you want */
  object-fit: cover;
  border-radius: 5px;  /* optional, for rounded corners */
}

.portfolioImage img:hover {
  transform: scale(1.3);
  cursor: pointer;
}


.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-container {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1000; 
}
@media(max-width: 1192px){
  .admin-page-title{
    margin-top: 60px;
  }
}
@media (max-width: 852px) {

.welcome-message{
  margin-top: 50px;
}

}

@media (max-width: 450px) {

.landing {
   width: 98%;
   margin-top: 15%;
  
  }

.bottom-container-dash{
   width: 98%;  
  }

.inquire-btn {
    border: 1px solid #000000;
    font-size: 12px;
    padding: 10px 15px;  
}
  
.active, .inquire-btn:hover {
    border: 1px solid #000000;
}

.logout-btn{
  font-size: 12px;
}

.portfolioEdit-btn{
  font-size: 12px;
}
/* Adjust the table for smaller screens */
.table table {
  font-size: 14px;
  padding: 5px;
}
.welcome-message{
  color: white;
  padding: 10px 20px;        
  font-size: 1.1rem;
  opacity: 1;
  transition: opacity 3s; 
}  

.portfolioGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  /* Force 3 columns */
  margin-top: 20px;
}

/*.help{
  min-width: 150%;
}*/

}