.inquiry {
    width: 100%;
    max-width: 10000px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
button{
    display: inline-block;
    margin: 1em 0 4em 0;
    font-size: 1rem;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 25px;
    font-weight: bold;
    border: none;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0 0 1px #f2fafa,
                  0 0 3px #dbe2e29d;   
}
