.bannerGrid{
    display: grid;
    grid-template-columns: repeat(3, auto); /* 3 columns */
    justify-content: center;
    
}

.search-container{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}