
.bannerGridWrapper {
  margin-top: 30px;
  width: 100%;
  background: #00000054; /* or any color you want */
  display: flex;
  justify-content: center;
  padding: 10px 10px 25px 10px;
}
.bannerGrid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 columns */
  gap: 8px;
  width: fit-content; /* This will make the grid as wide as its content */
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack children vertically */
}

.galleryTitle{
  font-size: 3.5em;
  font-family: 'Oleo Script', 'Jost', sans-serif, Arial;
  font-weight: lighter;
  color: #ffffff;
  margin-top: 50px;
  
}
.appointment-btn{
  background-color: rgba(0, 0, 0, 0.329);
  color: white;
  padding: 0.7em 1.9em;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
  white-space: nowrap;
  width: auto;
  text-decoration: underline;
}

/* Styles from Box.css */
.box {
  border-radius: 0.5rem;
  max-width: 240px;
  max-height: 240px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.box img:hover {
  cursor: pointer;
}

.box img {
  width: 240px;
  height: 240px;
  object-fit: cover;
}
@media (max-width: 978px) {
  .bannerGrid {
    grid-template-columns: repeat(3, 1fr);
}
}

@media (max-width: 768px) {
  .bannerGrid {
      grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 670px) {
  .galleryTitle{
    margin-top: 80px;
  }
}
@media (max-width: 530px) {
  .appointment-btn{
    margin-top: 10npm startpx;
  }

}
@media (max-width: 478px) {
  .box img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  .box {
    max-width: 200px;
    max-height: 200px;
  }

}
/* Modal styling */
.modal-portfolio {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.74);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-image {
  max-width: 80%;
  max-height: 80%;
}

.arrow {
  position: absolute;
  top: 50%;
  font-size: 3em;
  color: rgb(255, 255, 255);
  cursor: pointer;
  user-select: none;
  transform: translateY(-50%);
  padding: 5px;
}

.right-arrow {
  right: 15%;
}

.left-arrow {
  left: 15%;
}
