.leftSide, .rightSide {
  padding: 10px;
  background-color: rgba(43, 31, 31, 0.486);
  margin-top: 3em;
  
  }

.servicesList{
  display: flex;
  justify-content: center;
  gap: 6%;
}
.servicesList > li{
  list-style: none;
}

a{
    text-decoration: none;
}

.services_header {
  margin-bottom: -20px;
}