.btn{
    background: grey;
    color: #ffff;
    padding: 10px 20px;
    font-size: 30px;
    display: block;
    margin: 0 auto;
}

.header{
    background: #fff;
    color: #000;
    padding: 10px;
    text-align: center;
    font-size: 50px;
    
}