/* Import the font family */
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@200;400&family=Fjalla+One&family=IBM+Plex+Sans&family=Jost:wght@300&family=Mulish:wght@200&display=swap');


/* Update the CSS for the inquiry page by adding a background image and modifiying its attributes */
body {
  background-image: url('../src/components/images/la-bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Jost', 'Anuphan', 'Cambria', 'Roboto', sans-serif;
  padding-bottom: 5%;
}





/* Update the CSS for the headers to have them all padded from the top, centered, and some additional changes */
h1 {
  color: #fff;
  padding-top: 25px;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}














/*
 * Modifying buttons, labels, and additional fields on the Form below
 */

/* Update the CSS for the forms to have them all be padded 32.5% from the left */
form {
  padding-left: 32.5%;
  display: flex;
  flex-wrap: wrap;
}

/* Update the CSS for the divs in the forms so that they will have a width of 100%, a padding of 10px, and be a border box */
form > div {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

/* Update the CSS for the labels in the divs in the form to make them look more appealing */
form > div label {
  color: #fff;
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Update the CSS for the inputs, textarea, and selects in the divs which are in the form to make fields look more appealing */
form > div input,
form > div textarea,
form > div select {
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 3);
  margin-bottom: 10px;
  font-size: 1.2rem;
}

/* Update the CSS for the inputs, textarea, and selects for when they are being focused on */
form > div input:focus,
form > div textarea:focus,
form > div select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Update the CSS for the textarea to have it set to a height of 150 pixels */
form > div textarea {
  height: 150px;
}

/*
Update the CSS for the input of type file to hide the display feature */
form > div input[type="file"] {
  margin-left: 10px;
  width: 120px;
}

/* Update the CSS for the label of type image to add additional CSS features to make it look better */
form > div label[for="image"] {
  width: 50%;
  background-color: #f04d4d;
  color: #fff;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}

/* Update the CSS for the label of type image to change the background color when being hovered over */
form > div label[for="image"]:hover {
  background-color: #e33e3e;
}

/* Update the CSS for the label of type image to add some additional CSS features before the label is being hovered over */
form > div label[for="image"]::before {
  font-size: 1.2rem;
  font-weight: bold;
}

form > div input[type="file"] {
  display: none;
}

/* Update the CSS for the button of type submit to add some additional CSS features to make it look appealing */
button[type="submit"] {
  display: inline-block;
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
  border: none;
  transition: background-color 0.3s ease;
  font-family: 'Jost', sans-serif;
}

/* Update the CSS for the button of type button to add some additional CSS features to make it look appealing */
button[type="button"] {
  display: inline-block;
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
  border: none;
  transition: background-color 0.3s ease;
  font-family: 'Jost', sans-serif;
}

/* Update the CSS for the button of type submit to change the background color when being hovered over */
form > div button[type="submit"]:hover {
  background-color: #3e8e41; /* Darker green */
}

/* Update the CSS for the button of type button to change the background color when being hovered over */
form > div button[type="button"]:hover {
  background-color: #3e8e41; /* Darker green */
}

.alert {
  background-color: red;
  color: #fff;
  display: block;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}
